<div class="container">
  <h1><%= @task.title %></h1>
  <div class="alert alert-dark" role="alert">
    <%= @task.details %>
  </div>
  <% if @task.completed %>
    <i class="fas fa-check-square"></i>
  <% else %>
    <i class="fas fa-square"></i>
  <% end %>
  <p>This task is completed.</p>

  <%= link_to tasks_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to edit_task_path(@task) do %>
    <i class="fas fa-pen-fancy"></i>
  <% end %>
</div>